/.nyc_output/
/.vscode-test/
/coverage/
/node_modules/
/out/
*.exe
*.vsix
*.zip
*.code-workspace
copyLangSupportToGitRepo.bat
copyLangSupFiles.bat

# Editor related #
##################
*.epp
~$*
Link to VSCode extensions.lnk
*.ffs_*

/.pnpm-store/